html { font-family:"Lato"}

header .header-inner {
	width: 965px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;

	
}

nav {float: left}

nav li {
	display :inline-block;
	color: #3c58a7;
	text-transform: uppercase;
	line-height: 54px;
	margin-right: 25px;
}	

.active {color: #dbd8d7}


.social-icons {
	float: right;
}

.banner { background: #dbd8d7;
		  padding-top: 30px;
		  padding-bottom: 30px;
}

.logo { 
	position: absolute;
	left: 30px;
	top: 30px;
	height: 128px
}

.banner-inner {
	margin: 0 auto;
	width: 965px;
	position: relative;
}

.news { 
	margin: 0 auto; 
	width: 965px;
	overflow: hidden;
	height: 200px;
}

.news h1 { 
	line-height: 50px;
	display: inline-block; 
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.news .news-heading-coment { margin-left: 15px }
.news li { 
	display :inline-block;
	margin-right: 15px;
	float: left;
	position: relative;
	margin-bottom: 40px;
}

.news li:hover h3 { 
	background:rgba(0,0,0,0.6);
	color: white;
	height: 100%;
 }

li img { display: block}

.news li:last-child {margin-right: 0}
.news h3 {
	line-height: 40px;
	padding-left: 15px;
	height: 40px;
	background:rgba(219,216,215,1);
	position: absolute;
	width: 215px;
	bottom: 0px;
  	transition:all 800ms cubic-bezier(0.645, 0.045, 0.355, 1); 
}



.videos-title {
	margin: 0 auto;
	width: 965px;
}


.videos-title h1 { 
	line-height: 50px;
	display: inline-block; 
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.videos-title .videos-heading-coment {margin-left: 15px;}

.videos {
	height: 244px;
	background :rgba(4, 4, 210, 0.69);
	padding-top: 24px;
	padding-bottom: 24px;
}

.videos ul { 
	margin: 0 auto;
	width: 965px; 
}

.videos li {float: left;}

.videos li:first-child { 
	margin-right: 15px; 
}

.featured .title { 
	line-height: 50px;
	font-size: 15px;
	font-weight: 600;
	text-transform : uppercase;
	display: inline-block;
 }
 .featured .featured-heading-coment { margin-left: 15px }

 .featured { 
 	height: 230px;
	margin: 0 auto;
	width: 965px;

  }
  .featured li { 
  	height: 160px;
  	width: 475px;
  	background: #dbd8d7;
  	display: inline-block;
  	float: left;
  	margin-right: 15px;
  	position: relative;
   }

   .featured h1 { 
   	font-size: 15px;
   	font-weigh: 500;

    }
.featured li:last-child { margin-right: 0 }
.featured-item-description  { 
	vertical-align: baseline;
	padding-top: 40px;
	font-size: 14px;
}

.featured-item-image { float: left }

.featured-item-text { 
	padding: 14px;
	float: left ;
	width: 217px;
}
.featured-item-readmore { 
	text-align: right;
	font-size: 12px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	 }

.footer { 
	height: 54px;
	background: #dbd8d7;
	margin-top: 40px;
 }

 .footer-inner { 
 	width: 935px;
 	margin:0 auto;
 	padding-top: 20px;
 	font-size: 12px;
  }

.footer-inner-author { float: right; }
